<!DOCTYPE html>
<html lang="en">
<head>
    <title>AMS-Attendance</title>
    <meta charset="UTF-8">
    <title>Mark Attendance - AMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="navbar">
        <h2>AMS Dashboard</h2>
        <div class="nav-links">
            <a href="/dashboard">Dashboard</a>
            <a href="/mark_attendance">Mark Attendance</a>
            <a href="/view_report">View Report</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div class="content">
        <h3 style="text-align: center; color: #641d40; font-size: 23px;">Mark Attendance</h3>
        <form method="POST" action="/mark_attendance">
            <label for="date" style="color: #641d40;">Date</label>
            <input type="date" id="date" name="date" value="{{ today }}" required>

            <table>
                <tr>
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Present</th>
                    <th>Absent</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td>{{ student[2] }}</td>
                    <td>{{ student[1] }}</td>
                    <td>{{ student[3] }}</td>
                    <td><input type="radio" name="status_{{ student[0] }}" value="Present" required></td>
                    <td><input type="radio" name="status_{{ student[0] }}" value="Absent"></td>
                </tr>
                {% endfor %}
            </table>

            <button type="submit" style="">Submit Attendance</button>
        </form>
    </div>
</body>
</html>